/**
 * S E T T I N G S
 */
:root {
  --dark-highlight-color: 16, 185, 129;
  --dark-section-color: 75, 85, 99;
  --dark-copy-color: 230, 230, 230;
  --dark-bg-color: 26, 27, 30;
  --dark-card-bg-color: 31, 32, 36;
}

/**
 * SETUP
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: calc(1ex / 0.32);
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 48rem) {
  body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

img {
  display: block;
}

a {
  color: rgb(var(--dark-highlight-color));
  font-weight: 600;
}

a:focus-visible,
button:focus-visible {
  outline: 0.125rem solid rgb(var(--dark-highlight-color));
  outline-offset: 0.125rem;
}

::selection {
  color: #ffffff;
  background: rgb(var(--dark-highlight-color));
}

main {
  opacity: 0;
  transform: translateY(-20px);
}

main.animated {
  animation: fadeAndDrop 1s ease forwards;
}

@keyframes fadeAndDrop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * THEMING
 */
.dark-theme {
  background-color: rgb(var(--dark-bg-color));
  color: rgb(var(--dark-copy-color));
}

/**
 * HEADER
 */
.header {
  padding-top: 2rem;
}

@media screen and (min-width: 48rem) {
  .header {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 64rem) {
  .header {
    padding-top: 6rem;
  }
}

/**
 * BRAND
 */
.brand {
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}

.brand-name {
  color: #ffffff;
  font-size: 1.75rem;
}

.brand-role {
  color: rgb(var(--dark-highlight-color));
  display: block;
  font-size: 1.05rem;
  text-transform: uppercase;
}

/**
 * HERO
 */
.hero {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.hero-intro {
  color: #ffffff;
  font-size: 1.75rem !important;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1.25 !important;
  text-align: center;
  text-wrap: balance;
}

@media screen and (min-width: 48rem) {
  .hero-intro {
    font-size: 2.5rem !important;
  }
}

@media screen and (min-width: 890px) {
  .hero-intro {
    text-align: left;
    text-wrap: initial;
  }
}

.hero-selfie {
  max-width: 40%;
  min-width: 65%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 48rem) {
  .hero-intro {
    font-size: 2.25rem;
    line-height: calc(1ex / 0.32);
  }

  .hero-selfie {
    min-width: 55%;
  }
}

@media screen and (min-width: 890px) {
  .hero {
    display: flex;
    align-items: center;
  }

  .hero-intro {
    order: 1;
    width: 66.6666%;
  }

  .hero-selfie {
    order: 2;
    padding-left: 5.5rem;
    margin: 0;
    min-width: initial;
    max-width: initial;
  }
}

/**
 * HISTORY
 */
.history-heading {
  color: rgb(var(--dark-section-color));
  font-size: 1rem;
  margin: 0;
  margin-bottom: 3rem;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
}

@media screen and (min-width: 48rem) {
  .history-heading {
    font-size: 1.25rem;
  }
}

.history-heading::after {
  content: "";
  background-color: rgba(var(--dark-section-color), 0.3);
  display: block;
  height: 0.0625rem;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.history-heading-text {
  background-color: rgb(var(--dark-bg-color));
  margin-left: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 10;
}

.history-item {
  border-bottom: 0.0625rem solid rgba(var(--dark-section-color), 0.3);
  padding: 1.5rem 0;
}

@media screen and (min-width: 48rem) {
  .history-item {
    border-bottom: none;
  }
}

.history-item:first-child {
  padding-top: 0;
}

.history-item div:first-child {
  min-width: 16rem;
}

.history-item div:nth-child(2) {
  position: relative;
}

@media screen and (min-width: 48rem) {
  .history-item div:first-child {
    padding-right: 3rem;
  }
}

.history-item-meta {
  margin-top: 24px;
}

.history-item-meta-name {
  color: #ffffff;
  font-size: 1.5rem;
}

.history-item-meta-name:hover {
  color: rgba(255, 255, 255, 0.85);
}

.history-item-meta-role {
  color: rgb(var(--dark-highlight-color));
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.history-item-meta-timeserved {
  color: rgb(var(--dark-copy-color));
  font-size: 0.875rem;
  text-transform: uppercase;
}

.history-item-body {
  font-size: 1.125rem;
}

.history-item-expand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(var(--dark-highlight-color));
  font-size: 0.825rem;
  font-weight: 600;
  padding: 0;
  text-decoration: underline;
}

.history-item-body a {
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  .history-item-body {
    max-width: 65ch;
  }
}

.history-item-body-intro {
  color: #ffffff;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1.25 !important;
  max-width: 38ch;
}

@media screen and (min-width: 48rem) {
  .history-item-body-intro {
    font-size: 1.5rem;
    text-wrap: initial;
  }
}

.history-item-body ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.history-item-body li {
  margin: 1rem 0;
  display: flex;
  align-items: baseline;
}

.history-item-body li:first-child {
  margin-top: 0;
}

.history-item-body li span {
  color: rgb(var(--dark-highlight-color));
  display: flex;
  padding-right: 0.5rem;
  transform: translateY(0.25rem);
}

.further-history {
  font-size: 1.125rem;
  padding: 2rem 0;
}

@media screen and (min-width: 64rem) {
  .history-item {
    display: flex;
  }
}

/**
 * FOOTER
 */
.footer {
  border-top: 0.0625rem solid rgba(var(--dark-section-color), 0.3);
  color: rgb(var(--dark-section-color));
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-meta {
  color: rgb(var(--dark-copy-color));
  margin-right: 0.25rem;
}

.footer-copyright {
  color: rgb(var(--dark-section-color));
  vertical-align: middle;
}

.footer-version {
  color: rgb(var(--dark-bg-color));
  font-size: 0.875rem;
}

@media screen and (min-width: 890px) {
  .footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/**
 * CODE EXAMPLES LIST
 */
.code-examples {
  font-size: 1.125rem;
  padding-bottom: 5.5rem;
}

.code-examples-container {
  border: none;
  box-shadow: none;
  display: grid;
  gap: 1.5rem;
}
  
@media screen and (min-width: 38.5rem) {
  .code-examples-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 60rem) {
  .code-examples-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.code-examples-intro {
  padding-bottom: 3rem;
}

@media screen and (min-width: 48rem) {
  .code-examples-intro {
    padding-top: 0.25rem;
  } 
}

.code-examples-intro h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  margin-bottom: 0rem;
  text-wrap: pretty;
}

@media screen and (min-width: 48rem) {
  .code-examples-intro h3 {
    text-wrap: balance;
  }
}

.code-examples-intro p {
  color: rgb(255 255 255 / 0.5);
  line-height: calc(1ex / 0.32);
  font-size: 0.875rem;
}

.code-examples-item h3 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.code-examples-item p {
  font-size: 1.05rem;
}

.code-examples-item {
  background-color: rgba(var(--dark-card-bg-color), 1);
  border-radius: 1.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  transition: background-color 0.15s ease-in-out;
}

.code-examples-item:hover,
.code-examples-item:focus-within {
  background-color: rgba(var(--dark-highlight-color), 0.1);
}

.code-examples-item-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}

.code-examples-item-title,
.code-examples-item-desc {
  margin: 0;
  padding-bottom: 1rem;
}

/**
 * PILLS
 */
.pill {
  background-color: rgba(var(--dark-section-color), 0.4);
  border-radius: 1rem;
  color: rgb(var(--dark-copy-color));
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0.25rem 0.7rem;
}

/**
 * ICONS
 */
.icon {
  transform: scale(0.82);
}

@media screen and (min-width: 30rem) {
  .icon {
    transform: unset;
  }
}

.icon .icon-squircle {
  fill: rgb(var(--dark-highlight-color));
}

/**
 * LISTS
 */
@media screen and (min-width: 30rem) {
  .list-item {
    padding-left: 0.5rem;
  }

  .list-item:first-child {
    padding-left: 0;
  }
}

/**
 * UTILITIES
 */
.constrained {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
}

.responsive {
  height: auto;
  width: 100%;
}

.flex {
  display: flex;
}

.white {
  color: #ffffff;
}

.justifyContents-spaceBetween {
  justify-content: space-between;
}

.justifyContents-center {
  justify-content: center;
}

.alignItems-center {
  align-items: center;
}

.naked-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.width-100 {
  width: 100%;
}

.gap-xs {
  gap: 0.25rem
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-x-sm {
  column-gap: 0.5rem;
}

.bold {
  font-weight: 700;
}
