@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes fadeAndDrop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer base {
  ::selection {
    background: rgb(var(--highlight-color));
  }

  #root-container {
    opacity: 0;
    transform: translateY(-20px);
  }

  #root-container.js-enabled {
    animation: fadeAndDrop 1s ease forwards;
  }
}

@layer components {
  .js-enabled .history-list-item--collapsed {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      transparent 100%
    );
    max-height: 6.5625rem;
    @apply overflow-hidden;
  }

  .js-enabled .history-list-item--expanded {
    @apply max-h-full;
    @apply overflow-visible;
  }
}
