/**
 * S E T T I N G S
 */
 :root {
   --primary-font: 'Roboto', sans-serif;
   --secondary-font: 'Lato', sans-serif;
   --dark-hightlight-color: 16, 185, 129;
   --dark-section-color: 75, 85, 99;
   --dark-copy-color: 183, 186, 192;
   --dark-bg-color: 22, 30, 46;
  }
  
/**
 * SETUP
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 48rem) {
  body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

img {
  display: block;
}

a {
  color: rgb(var(--dark-hightlight-color));
}

::selection {
  color: #ffffff;
  background: rgb(var(--dark-hightlight-color));
}

main {
  opacity: 0;
  transform: translateY(-20px);
}

main.animate {
  animation: fadeAndDrop 1s ease forwards;
}

@keyframes fadeAndDrop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * THEMING
 */
.dark-theme {
  background-color: rgb(var(--dark-bg-color));
  color: rgb(var(--dark-copy-color));
}

/**
 * HEADER
 */
.header {
  padding-top: 2rem;
}

@media (min-width: 48rem) {
  .header {
    padding-top: 4rem;
  }
}

@media (min-width: 64rem) {
  .header {
    padding-top: 6rem;
  }
}

/**
 * BRAND
 */
.brand {
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.brand-name {
  color: #ffffff;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.brand-role {
  color: rgb(var(--dark-hightlight-color));
  display: block;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/**
 * HERO
 */
.hero {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.hero-intro {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.35rem;
}

.hero-intro span {
  color: rgb(var(--dark-hightlight-color));
  font-weight: 900;
}

.hero-selfie {
  max-width: 40%;
  min-width: 65%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48rem) {
  .hero-intro {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .hero-selfie {
    min-width: 55%;
  }
}

@media (min-width: 890px) {
  .hero {
    display: flex;
    align-items: center;
  }

  .hero-intro {
    order: 1;
    width: 66.6666%;
  }

  .hero-selfie {
    order: 2;
    padding-left: 5.5rem;
    margin: 0;
    min-width: initial;
    max-width: initial;
  }
}

/**
 * HISTORY
 */
.history-heading {
  color: rgb(var(--dark-section-color));
  font-family: var(--primary-font);
  font-size: 1rem;
  margin: 0;
  margin-bottom: 3rem;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
}

@media (min-width: 48rem) {
  .history-heading {
    font-size: 1.25rem;
  }
}

.history-heading::after {
  content: "";
  background-color: rgba(var(--dark-section-color), 0.5);
  display: block;
  height: 0.0625rem;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  /* opacity: 0.5; */
}

.history-heading-text {
  background-color: rgb(var(--dark-bg-color));
  margin-left: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 10;
}

.history-item {
  margin-bottom: 3rem;
}

.history-item div:first-child {
  padding-right: 2rem;
  min-width: 16rem;
}

.history-item-meta {
  font-family: var(--primary-font);
}

.history-item-meta-name {
  color: #ffffff;
  font-size: 1.55rem;
}

.history-item-meta-role {
  color: rgb(var(--dark-hightlight-color));
  display: block;
  font-size: 1.25rem;
  line-height: 1.3rem;
  text-transform: uppercase;
}

.history-item-meta-timeserved {
  color: rgb(var(--dark-copy-color));
  font-size: 0.875rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.history-item-body {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.history-item-body-intro {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.history-item-body ul {
  list-style: none;
  padding-left: 1.6rem;
}

.history-item-body li {
  text-indent: -1.9rem;
  padding-bottom: 1rem;
}

.history-item-body li::before {
  content: "\29BF";
  padding-right: 1rem;
  color: rgb(var(--dark-section-color));
}

@media (min-width: 64rem) {
  .history-item {
    display: flex;
  }
}

/**
 * FOOTER
 */
.footer {
  border-top: 0.0625rem solid rgba(var(--dark-section-color), 0.5);
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-meta {
  color: rgb(var(--dark-copy-color));
  margin-right: 0.25rem;
}

.footer-copyright {
  vertical-align: middle;
}

.footer-version {
  color: rgb(var(--dark-bg-color));
  font-size: 0.875rem;
}

@media (min-width: 890px) {
  .footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/**
 * ICONS
 */
.icon .icon-squircle {
  fill: rgb(var(--dark-hightlight-color));
}

/**
 * LISTS
 */
.list-item {
  padding-left: 0.5rem;
}

.list-item:first-child {
  padding-left: 0;
}

/**
 * UTILITIES
 */
.constrained {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
}

.responsive {
  height: auto;
  width: 100%;
}

.flex {
  display: flex;
}

.white {
  color: #ffffff;
}

.justifyContents-spaceBetween {
  justify-content: space-between;
}

.alignItems-center {
  align-items: center;
}

.naked-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.width-100 {
  width: 100%;
}
